{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} {{ user }} {% endblock %}

{% block content %}
<div class="container">
	<h4> Add/Update Fields </h4>
	<sup><a class="btn btn-default btn-xs" href="{% url 'aira.views.home' %}"> Back to Home</a></sup>
<hr>
	<div>
		<form action="{% url 'aira.views.update_fields' %}"
			  method  = "POST"
			  class="form-inline">
			{% csrf_token %}
			{{ formset.management_form }}
			{% for form in formset %}	
				<br><br>
				{% bootstrap_form form %} 
				{% if  form.initial.id %}
					<a href="{% url 'aira.views.update_crop' form.initial.id %}">Add/Update Crops</a>
				{% endif %} 
			{% endfor %}
			  {% buttons %}
			  <br>
        		<button type="submit" class="btn btn-xs btn-success">Update Fields</button>
    		{% endbuttons %}
		</form>
	</div>
	<hr>
</div>

{% endblock %}
