{% extends "base-default.html" %}
{% load i18n %}
{% load static %}

{% block logo_browser %}<link rel="shortcut icon" type="image/png" href="{% static 'img/aira-logo.png' %}" /> {% endblock %}

{% block over_navbar %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="max-width:100px; margin-top: -13px;" class="navbar-brand" href="{% url 'welcome' %}"><img src="{% static 'img/aira-logo.png' %}" width="40" height="45"></a>
    </div>
    {% if user.is_authenticated %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'home' %}"  rel="nofollow"><i class="glyphicon glyphicon-home"></i> {% trans "Home" %}</a> </li>
        <li><a href="{% url 'django.contrib.auth.views.logout' %}"> <i class="glyphicon glyphicon-log-out"></i> {% trans "Logout " %}</a></li>
      </ul>
    </div>
    {% else %}
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'django.contrib.auth.views.login' %}" rel="nofollow"><i class="glyphicon glyphicon-off"></i> {% trans "Login" %}</a></li>
        <li><a href="{% url 'registration_register' %}" rel="nofollow"><i class="glyphicon glyphicon-user"></i> {% trans "Register" %}</a></li>
        <li><a href="{% url 'password_reset' %}" rel="nofollow"><i class="glyphicon glyphicon-lock"></i> {% trans "Lost password?" %}</a></li>
      </ul>
    </div>
    {% endif %}
    </div> <!--container - fluid -->
  </div> <!-- navbar -->
{% endblock %}

{% block content %}
    {% block upper_main %}

    {% endblock %}

    {% block main_page %}

    {% endblock %}
{% endblock %}


{% block footer %}
  <div class="container">
    <hr>
      <p  class="text-success">{% trans "Copyright" %} &#169; <script>document.write(new Date().getFullYear())</script> - <a href="http://tegeo.teiep.gr/en/" target = "_blank">teiep.gr </a>  </p>
  </div>
{% endblock %}


