{% extends "base-default.html" %}
{% load static %}
{% load i18n %}

{% block logo_browser %}<link rel="shortcut icon" type="image/png" href="{% static 'img/aira-logo.png' %}" /> {% endblock %}

{% block over_navbar %}
{% endblock %}

{% block navbar %}
    <hr>
    <div class="clearfix"></div>
    <form class="form-inline float-xs-right" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <div class="form-group">
            <select class="form-control" name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option  value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                {% endfor %}
            </select>
        </div>
       <button type="submit" class="btn btn-secondary btn-sm"> {% trans "Go" %} </button>
    </form>
    <ul class="nav nav-inline align-middle">
        {% with request.resolver_match.url_name as url_name %}
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a data-toggle="tooltip" title="{% trans 'Home' %}" class="nav-link {% if url_name = 'home' %}active {% endif %} aira-nav-link" href="{% url 'home-username' user.username %}"> <i class="fa fa-home"></i> </a>
            </li>
            <li class="nav-item">
                <a data-toggle="tooltip" title="{% trans 'Account Settings' %}" class="nav-link {% if url_name = 'profile' %}active {% endif %} aira-nav-link" href="{% url 'profile' user.username %}"> <i class="fa fa-user"></i> </a>
            </li>
            <li class="nav-item">
                <a data-toggle="tooltip" title="{% trans 'Logout' %}" class="nav-link {% if url_name = 'auth_logout' %}active {% endif %} aira-nav-link" href="{% url 'django.contrib.auth.views.logout' %}"> <i class="fa fa-sign-out"></i></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link hidden-md-up aira-nav-link" href="/" data-toggle="tooltip" title="{% trans "Home" %}"><i class="fa fa-home"></i></a>
                <a class="nav-link hidden-sm-down" href="/"><img height="42" width="42" src="{% static 'img/aira-logo.png' %}" alt=""></a>
            </li>
            <li class="nav-item">
                <a class="nav-link hidden-md-up aira-nav-link" href="{% url 'django.contrib.auth.views.login' %}" data-toggle="tooltip" title="{% trans "Login" %}"><i class="fa fa-sign-in"></i></a>
                <a class="nav-link  hidden-sm-down {% if url_name = 'auth_login' %}active {% endif %} aira-nav-link" href="{% url 'django.contrib.auth.views.login' %}">{% trans "Login" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hidden-md-up aira-nav-link" href="{% url 'registration_register' %}" data-toggle="tooltip" title="{% trans "Register" %}"><i class="fa fa-user-plus"></i></a>
                <a class="nav-link hidden-sm-down {% if url_name = 'registration_register' %}active {% endif %} aira-nav-link" href="{% url 'registration_register' %}">{% trans "Register" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link hidden-md-up aira-nav-link" href="{% url 'password_reset' %}" data-toggle="tooltip" title="{% trans "Lost password?" %}"><i class="fa fa-key"></i></a>
                <a class="nav-link hidden-sm-down {% if url_name = 'password_reset' %}active {% endif %} aira-nav-link" href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a>
            </li>
        {% endif %}
        {% endwith %}
    </ul>
    <div class="clearfix"></div>
    <hr>
{% endblock %}

{% block content %}
    {% block upper_main %}

    {% endblock %}

    {% block main_page %}

    {% endblock %}
{% endblock %}


{% block footer %}
  <div class="container">
    <hr>
      <p  class="text-success">Copyright &#169; <script>document.write(new Date().getFullYear())</script> - <a href="http://tegeo.teiep.gr/en/" target = "_blank">teiep.gr </a>  </p>
  </div>
{% endblock %}
