{% extends 'base.html' %}
{% block title %} Welcome {% endblock %}

{% block content %}	
    <div class="jumbotron">
      <div class="container">
        <h3><span class="text-success">A</span>gricultural  <span class="text-success">IR</span>rigation <span class="text-success">A</span>dvisor (<span class="text-success">aira</span>)</h3>
        <p>Arta, Epirus <a target=_blank href="http://pos-map.appspot.com/el/coordinates10.html">39°9′N 20°59′E</a></p>
      </div>
    </div>	
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h3>Quick Overview</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
      </div>
</div>
{% endblock %}

