<!DOCTYPE html>
<head>
   <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
   <script src="http://cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>
   
   
   
   


<style>

#map {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
}

</style>
</head>
<body>

        <div id="map" style="width: 960px; height: 500px"></div>

<script>



var map = L.map('map').setView([38, 23], 7);

L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 18,
    attribution: 'Map data (c) <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
}).addTo(map);


var circle_1 = L.circle([39.19, 21.0], 1000, {
                            color: '#FF0000',
                            fillColor: '#FF0000',
                            fillOpacity: 0.6
                            });
circle_1.bindPopup("Owner-demo");
map.addLayer(circle_1)






</script>

</body>