{% load i18n %}

<div class="panel panel-default">
  <div class="panel-heading"> <a href="{% url 'update_profile' profile.id %}">{% trans "Your account" %}</a></div>
    <div class="panel-body">
        <div class="col-md-5">
          <strong>{% trans "Full name" %}: </strong><a href="{% url 'update_profile' profile.id %}">{{ user.profile.first_name}} {{ user.profile.last_name }},</a> <br>
          <strong>{% trans "Address" %}: </strong> <a href="{% url 'update_profile' profile.id %}">{{ user.profile.address }}</a> <br>
          <strong>{% trans "Supervisor" %}:</strong> <a href="{% url 'update_profile' profile.id %}">{{ user.profile.get_supervision_question_display }} </a><br>
          {% trans "Not set" as not_set %}
          <strong>{% trans "Frequency of email notifications" %}:</strong> <a href="{% url 'update_profile' profile.id %}">{{ user.profile.get_notification_display|default:not_set }}</a> <br>
          <strong>{% trans "Your account supervisor" %}:</strong> <a href="{% url 'update_profile' profile.id %}">{{ user.profile.supervisor|default:not_set }}</a>
        </div>
        {% if supervising_users %}
          <div class="col-md-7">
            <strong>{% trans "The following users have set you as their supervisor" %}</strong>: <br>
            {% for supervised_user in  supervising_users %}
              <form method="post" class="form-inline" action="{% url "supervised_user_remove" %}">
                {% csrf_token %}
                <a href="{% url 'home' supervised_user %}">
                    {{ supervised_user }}
                    {% if supervised_user.profile %}({{ supervised_user.profile.first_name }} {{ supervised_user.profile.last_name }}){% endif %}
                  </a>
                <input type="hidden" name="supervised_user_id" value="{{ supervised_user.id }}">
                <input type="submit"
                        value="x"
                        data-toggle="tooltip" data-placement="bottom" title="{% trans 'Remove supervised user' %}"
                        class="btn btn-xs btn-danger"
                        >
              </form>
            {% endfor %}
          </div>
        {% else %}
        {% endif %}
    </div>
</div>
