body {
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  color: #222;
}


/* OpenLayers Map Display */
.map {
    width: 100%;
    height: 300px;
    position:relative;
    box-shadow: 0 6px 6px -6px black;
}


.card {
	-webkit-box-shadow: 0 6px 6px -6px black;
	-moz-box-shadow: 0 6px 6px -6px black;
	box-shadow: 0 6px 6px -6px black;
}

.airaform {
    color:green;
}

.help-block {
    color:red;
}

.aira-nav-link {
    color: #5f615f;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}

.aira-nav-link:hover {
    color: #42bdae;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}
