{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}


{% block title %}{% trans "Registration" %}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-offset-4">
			<div class="panel panel-default login">
				<br><br>
				<div class="panel-heading hidden-xs-down"><i class="pull-left fa fa-user-circle-o fa-5x" aria-hidden="true"></i></div>
				<div class="panel-body">
					<form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
						<fieldset >
							{% csrf_token %}
							{% bootstrap_form form show_label=False %}
							<button type="submit" class="btn btn-success btn-block">{% trans "Sign up" %}</button>
							<br>
							<p>{% trans "Already Member?" %}<a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Login" %}</a></p>
							<p>{% trans "Trouble signing in?" %}<a href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "Reset password" %}</a></p>
						</fieldset>
						<br><br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
