{% extends 'base.html' %}
{% load bootstrap3 %}
{% load mathfilters %}

{% block title %} {{ f.name }} | Report {% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>Field Name:</b> <a href="{% url 'update_agrifield' f.id %}">{{ f.name }}</a>
      </div>
      <div class="panel-body">
        <div id="open_map" class="map"></div>
         <script type="text/javascript">
          map = new OpenLayers.Map("open_map");
          var cycle = new OpenLayers.Layer.OSM("OpenCycleMap",
                         ["http://a.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
                          "http://b.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
                          "http://c.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png"]);
          var osm = new OpenLayers.Layer.OSM();
          map.addLayers([cycle, osm]);
          map.addControl(new OpenLayers.Control.LayerSwitcher());
          var lonLat = new OpenLayers.LonLat({{ f.longitude }}, {{ f.latitude }})
                .transform(
                  new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                  map.getProjectionObject() // to Spherical Mercator Projection
                );
          var zoom = 9;
          var markers = new OpenLayers.Layer.Markers( "{{ f.name }}" );
          map.addLayer(markers);
          markers.addMarker(new OpenLayers.Marker(lonLat));
          map.setCenter (lonLat, zoom);
       </script>
      </div>
    </div>
  </div>
  <div class="col-lg-6"
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>Crop Type:</b> <a href="{% url 'update_agrifield' f.id %}">{{ f.ct.ct_name }}</a>
          </div>
          <div class="panel-body">
            <b>Root Depth(max):</b>{{ fpars.rd }} <br>
            <b>kc:</b> {{ fpars.kc }} <br>
            <b>Crop Coeff:</b> {{ fpars.p }} <br>
            <b>Rd_factor:</b> {{ fpars.rd_factor }} <br>
            <b>Field Capacity:</b> {{ fpars.fc|floatformat:"1"  }} <br>
            <b>Theta_s:</b> {{ fpars.theta_s |floatformat:"1" }} <br>
            <b>WP:</b> {{ fpars.wp|floatformat:"1"  }}
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>Irrigation System Type: </b><a href="{% url 'update_agrifield' f.id %}">{{ f.irrt.irrt_name }}</a>
          </div>
          <div class="panel-body">
            <b>Irrigation efficiency factor:</b> {{ fpars.irr_eff }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Detailed Calculations
        </div>
        <div class="panel-body">
        <p><b>Irrigation Advice:</b>
        {% if f.adv %}
              List advice
        {% else %}
              No need to irrigate from <span <class class="text-warning">{{ f.sd }}</span> to  <span <class class="text-warning">{{ f.ed }}</span>.
        {% endif %}</p>
        <hr>
          <div id="results" class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th>Date <br> </th>
                    <th>Precipitation <br>(mm)</th>
                    <th>ETc <br> (mm)</th>
                    <th>Depletion <br> (mm)</th>
                    <th>Soil moisture <br>(%)</th>
                    <th>Irrigate ?</th>
                    <th>Irrigation Water Amount<br> (mm)</th>
                  </tr>
                </thead>
                 <tbody>
                    {% for result in f.swb_report  %}
                      <tr>
                        <td align="center">{{ result.date |date:"d/m/Y h:m:s" }}</td>
                        <td align="center">{{ result.P|floatformat:"2" }}</td>
                        <td align="center"> {{ result.ETc|floatformat:"2" }} </td>
                        <td align="center">{{ result.Dr_i|floatformat:"2"}}</td>
                        <td align="center"> {{ result.Theta_p|floatformat:"2" }}</td>
                        {% if result.irrigate > 0 %}
                          <td align="center"> YES </td>
                        {% else %}
                          <td align="center"> NO </td>
                        {% endif %}
                        <td align="center"> {{ result.Ifinal|floatformat:"2" }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
</div>

</div>

{% endblock %}
