{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}
{% load mathfilters %}

{% block title %} {{ f.name }} | {% trans "Report" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <b>{% trans "Field Name" %}:</b> <a href="{% url 'update_agrifield' f.id %}">{{ f.name }}</a>
      </div>
      <div class="panel-body">
        <div id="field_map" class="map"></div>
         <script type="text/javascript">
          function make_coords(coord) {
              return parseFloat(coord.replace(",","."));
            };
             map = new OpenLayers.Map('field_map',
                   {units: 'm',
                    displayProjection: 'EPSG:4326',
                    controls: [new OpenLayers.Control.LayerSwitcher(),
                               new OpenLayers.Control.Zoom(),
                               new OpenLayers.Control.Navigation(),
                               new OpenLayers.Control.MousePosition(),
                               new OpenLayers.Control.ScaleLine()]
                    });
             // Open Cycle
             var cycle = new OpenLayers.Layer.OSM.CycleMap(
                       "Open Cycle Map",
                       {isBaseLayer: true,
                        projection: 'EPSG:3857'});
             // Kthmatologio
             var ktimatologio = new OpenLayers.Layer.WMS("Hellenic Cadastre",
                         "http://gis.ktimanet.gr/wms/wmsopen/wmsserver.aspx",
                           {   layers: 'KTBASEMAP', transparent: false},
                           {   isBaseLayer: true,
                                numZoomLevels: 24,
                               projection: new OpenLayers.Projection("EPSG:900913"),
                               iformat: 'image/png'});
             map.addLayers([ktimatologio, cycle]);
             var fieldloc = new OpenLayers.LonLat(make_coords("{{ f.longitude }}"), make_coords("{{ f.latitude }}")).transform('EPSG:4326', 'EPSG:3857');
             var marker = new OpenLayers.Marker(fieldloc)
             var markers = new OpenLayers.Layer.Markers( "{{ f.name }}" );
             map.addLayer(markers);
             markers.addMarker(marker);
             map.setCenter(fieldloc, 18);

              $(document).ready(function(){
              $("#show_results").click(function(){
                  $("#results").stop().toggle();
              });
          });
       </script>
      </div>
    </div>
  </div>
  <div class="col-lg-6"
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>{% trans "Crop Type" %}:</b> <a href="{% url 'update_agrifield' f.id %}">{{ f.crop_type.name }}</a>
              {% if  fpars.custom_parameters %}
                    {% trans "using custom parameters" %}
              {% endif %}
          </div>
          <div class="panel-body">
            <b>{% trans "Estimated root depth (max)" %}:</b> {{ fpars.rd }} m <br>
            <b>{% trans "Kc" %}:</b> {{ fpars.kc }}<br>
            <b>{% trans "Maximum Allowable Depletion" %}:</b> {{ fpars.p|mul:100|floatformat:"1" }}%<br>
            <b>{% trans "Field Capacity" %}:</b> {{ fpars.fc|mul:100|floatformat:"1"}}%<br>
            <b>{% trans "Soil moisture at saturation" %} (Θ<sub>s</sub>):</b> {{ fpars.theta_s |mul:100|floatformat:"1" }}%<br>
            <b>{% trans "Wilting Point" %}:</b> {{ fpars.wp|mul:100|floatformat:"1"  }}% <br>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>{% trans "Irrigation System Type" %}: </b><a href="{% url 'update_agrifield' f.id %}">{{ f.irrigation_type.name }}</a>
            {% if  fpars.custom_parameters %}
                    {% trans "using custom parameters" %}
              {% endif %}
          </div>
          <div class="panel-body">
            <b>{% trans "Irrigation efficiency factor" %}:</b> {{ fpars.irr_eff }} <br>
            <b>{% trans "Irrigation Optimizer" %}: </b> {{ fpars.IRT }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          {% trans "Detailed Calculations for" %}
          {% trans "Forecast Period" %}: <span <class class="text-warning">{{ f.sd|date:"d/m/Y" }}</span> {% trans "to" %} <span <class class="text-warning">{{ f.ed|date:"d/m/Y" }}</span>        </div>
        <div class="panel-body">
          <div id="results" class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th align="center">{% trans "Date" %}<br> </th>
                    <th align="center">{% trans "Precipitation" %} <br>(mm)</th>
                    <th align="center">{% trans "ETc" %} <br> (mm)</th>
                    <th align="center">{% trans "Depletion" %} <br> (mm)</th>
                    <th align="center">{% trans "Soil moisture" %} <br>(%)</th>
                    <th align="center">{% trans "Irrigate" %} ?</th>
                    <th align="center">{% trans "Irrigation Water Amount" %}<br> (mm)</th>
                  </tr>
                </thead>
                 <tbody>
                    {% for result in f.swb_report  %}
                    {% if result.irrigate > 0 %}
                      <tr class="success">
                      {% else %}
                      <tr class="active">
                    {% endif %}
                        <td align="center">{{ result.date |date:"d/m/Y H:00"}}</td>
                        <td align="center">{{ result.P|floatformat:"2" }}</td>
                        <td align="center"> {{ result.ETc|floatformat:"2" }} </td>
                        <td align="center">{{ result.Dr_i|floatformat:"2"}}</td>
                        <td align="center"> {{ result.Theta_p|mul:100|floatformat:"1" }}</td>
                        {% if result.irrigate > 0 %}
                          <td align="center"> {% trans "YES" %} </td>
                        {% else %}
                          <td align="center"> {% trans "NO" %} </td>
                        {% endif %}
                        <td align="center"> {{ result.Ifinal|floatformat:"2" }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
</div>

</div>

{% endblock %}
