{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %} {{ user }} {% endblock %}

{% block content %}
{% if fields_count %}
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <i class="fa fa-hand-o-right fa-1x"></i>&nbsp;  You have <b><span class="text text-success">{{fields_count}}</span></b> Agrifield(s) in your database.
  </div>
{% endif %}
<div class="row">
  <div class="col-md-6">
  <div id="on_clink_map" class="map"></div>
      <script>
              map = new OpenLayers.Map("on_clink_map");
              var cycle = new OpenLayers.Layer.OSM("OpenCycleMap",
                         ["http://a.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
                          "http://b.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
                          "http://c.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png"]);
              var osm = new OpenLayers.Layer.OSM();
              map.addLayers([cycle, osm]);
              map.addControl(new OpenLayers.Control.LayerSwitcher());
              var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
              var toProjection = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
              var arta = new OpenLayers.LonLat(20.98, 39.15).transform(fromProjection, toProjection);
              var zoom = 9;
              var markers = new OpenLayers.Layer.Markers( "New Field" );
              map.addLayer(markers);
              map.setCenter(arta, zoom );
              map.events.register("click", map , function(e){
                          var opx = map.getLonLatFromPixel(e.xy) ;
                          var marker = new OpenLayers.Marker(opx);
                          markers.clearMarkers();
                          markers.addMarker(marker);
                          var lonlat = map.getLonLatFromPixel(e.xy).transform(toProjection, fromProjection);
                            document.getElementById("id_latitude").value = lonlat.lat;
                            document.getElementById("id_longitude").value = lonlat.lon;
              });
      </script>
    <sub> Click on Map to add your Field coordinates</sub>
  </div>
  <div class="col-md-6">
    <form method="post" role="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-success btn-xs">Submit</button>
      {% endbuttons %}
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    {% if agrifields %}
    <div class="table-responsive">
      <table class="table">
        <h4> List of Agrifields</h4>
          <thead>
            <tr>
              <th>#id</th>
              <th>Name</th>
              <th>Crop Type</th>
              <th>Irrigation Type</th>
              <th>TimeLogs</th>
            </tr>
          </thead>
          <tbody>
          {% for f in agrifields  %}
            <tr>
              <td>{{ f.id }}</td>
              <td><a href="{% url 'update_agrifield' f.id%}">{{f.name}}</a></td>
              <td><a href="{% url 'update_agrifield' f.id%}">{{f.ct.ct_name}}</td>
              <td><a href="{% url 'update_agrifield' f.id%}">{{f.irrt.irrt_name}}</a></td>
              <td><a href="{% url 'create_irrlog' f.id %}"><i class="fa fa-plus-square-o"></i>&nbsp;<i class="fa fa-minus-square-o"></i></a></td>
              <td><a href="{% url 'delete_agrifield' f.id %}">Delete </a></td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    {% endif %}
    </div>
</div>
{% endblock %}
