{% extends 'base.html' %}
{% load i18n %}
{% load mathfilters %}
{% load bootstrap3 %}
{% load static %}
{% block title %} {{ user }}-{% trans "Update Field" %}{% endblock %}

{% block content %}
{% if user.is_demo %}
 <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <i class="fa fa-info-circle fa-2x"></i>&nbsp; <span style="font-size:32px">{% trans "demo" %}</span>
</div>
{% endif %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>{% trans "Update Field" %}</h4>
      </div>
      <div class="panel panel-body">
        <div class="col-md-12">
        <div id="on_clink_map" class="map"></div>
      <sub> {% trans "Click on Map to add your Field coordinates" %}</sub>
      <hr>
      <fieldset>
          <form method="post" role="form">
          {% csrf_token %}
          <div class='row'>
              <div class='col-sm-6'>
                  <div class='form-group'>
                  {% bootstrap_field form.name %}
                  {% bootstrap_field form.area %}
                  {% bootstrap_field form.longitude %}
                  {% bootstrap_field form.latitude %}
                  {% bootstrap_field form.crop_type %}
                  {% bootstrap_field form.irrigation_type %}
                  {% bootstrap_field form.use_custom_parameters %}
                  </div>
                  {% buttons %}
                  {% if not user.is_demo %}
                  <button type="submit" class="btn btn-success btn-xs">{% trans "Update" %}</button>
                  {% endif %}
                  <a class="btn btn-success btn-xs" href="{% url 'home' agrifield_user %}"> {% trans "Back" %} </a>
                  {% endbuttons %}
              </div>
              <div class='col-sm-6'>
              {% if object.use_custom_parameters %}
                  <div class='form-group' style="display:block" id="custom_par">
              {% else %}
                  <div class='form-group' style="display:none" id="custom_par">
              {% endif %}
              <fieldset class="well well-sm">
                  <legend>{% trans "Irrigation Management" %}</legend>
                      {% bootstrap_field form.custom_efficiency %}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.irr_eff }}</b></span></sup>
                      {% bootstrap_field form.custom_irrigation_optimizer%}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>0.5</b></span></sup>
              </fieldset>
              <fieldset class="well well-sm">
                  <legend>{% trans "Crop" %}</legend>
                      {% bootstrap_field form.custom_kc %}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.kc }}</b></span></sup>
                      {% bootstrap_field form.custom_max_allow_depletion %}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.mad }}</b></span></sup>
                      {% bootstrap_field form.custom_root_depth_max %}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.rd_max}}</b></span></sup>
                      {% bootstrap_field form.custom_root_depth_min %}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.rd_min }}</b></span></sup>
              </fieldset>
              <fieldset class="well well-sm">
                  <legend>{% trans "Soil" %}</legend>
                      {% bootstrap_field form.custom_field_capacity %}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.fc|floatformat:"2"  }}</b></span></sup>
                      {% bootstrap_field form.custom_wilting_point %}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.wp|floatformat:"2"  }}</b></span></sup>
                      {% bootstrap_field form.custom_thetaS %}
                      <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.thetaS|floatformat:"2"  }}</b></span></sup>
              </fieldset>
              </div>
            </div>
        </form>
      </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
            <script>
              function make_coords(coord) {
                  return parseFloat(coord.replace(",","."));
                };

                map = new OpenLayers.Map('on_clink_map',
                      {units: 'm',
                       displayProjection: 'EPSG:4326',
                       maxResolution: 0.04612890625,
                       controls: [
                                  new OpenLayers.Control.LayerSwitcher(),
                                  new OpenLayers.Control.Zoom(),
                                  new OpenLayers.Control.Navigation(),
                                  new OpenLayers.Control.MousePosition(),
                                  new OpenLayers.Control.ScaleLine()]
                       });
                // Open Cycle
                var cycle = new OpenLayers.Layer.OSM.CycleMap(
                          "Open Cycle Map",
                          {isBaseLayer: true,
                           projection: 'EPSG:3857'});
                // Study area
               var kml = new OpenLayers.Layer.Vector("{% trans 'IRMA area' %}",
                         {strategies: [new OpenLayers.Strategy.Fixed()],
                           visibility: true,
                         protocol: new OpenLayers.Protocol.HTTP(
                                  {url: "{% static 'kml/study_area.kml' %}",
                                  format: new OpenLayers.Format.KML()})})
                var ktimatologio = new OpenLayers.Layer.WMS("Hellenic Cadastre",
                         "http://gis.ktimanet.gr/wms/wmsopen/wmsserver.aspx",
                           {   layers: 'KTBASEMAP', transparent: false},
                           {   isBaseLayer: true,
                               numZoomLevels: 24,
                               projection: new OpenLayers.Projection("EPSG:900913"),
                               iformat: 'image/png'});
                map.addLayer(ktimatologio);
                map.addLayer(cycle);
                map.addLayer(kml);

                //alert(parseFloat("{{ object.longitude }}".replace(",",".")));
                var fieldloc = new OpenLayers.LonLat(make_coords("{{ object.longitude }}"),make_coords("{{ object.latitude }}")).transform('EPSG:4326', 'EPSG:3857');
                var marker = new OpenLayers.Marker(fieldloc)
                var markers = new OpenLayers.Layer.Markers( "{{ object.name }}" );
                map.addLayer(markers);
                markers.addMarker(marker);
                map.setCenter(fieldloc, 18);
                map.events.register("click", map , function(e){
                var opx = map.getLonLatFromPixel(e.xy) ;
                var marker = new OpenLayers.Marker(opx);
                markers.clearMarkers();
                markers.addMarker(marker);
                var lonlat = map.getLonLatFromPixel(e.xy).transform('EPSG:3857', 'EPSG:4326');
                document.getElementById("id_latitude").value = lonlat.lat.toFixed(5);
                document.getElementById("id_longitude").value = lonlat.lon.toFixed(5);
                });

                $(document).ready(function(){
                    $("#id_use_custom_parameters").click(function(){
                        $("#custom_par").stop().toggle();
                    });
                });

$(document).ready(function(){
     $('#id_area').attr('placeholder',"m²");
     $('#id_custom_irrigation_optimizer').attr('placeholder','0.1 - 1.0');
      $('#id_custom_irrigation_optimizer').attr("step", 0.1);
     $('#id_custom_kc').attr('placeholder','0.10 - 1.50');
      $('#id_custom_kc').attr("step", 0.01);
     $('#id_custom_root_depth_max').attr('placeholder','0.2 - 4.0 m');
      $('#id_custom_root_depth_max').attr("step", 0.1);
     $('#id_custom_root_depth_min').attr('placeholder','0.1 - 2.0 m');
      $('#id_custom_root_depth_min').attr("step", 0.1);
     $('#id_custom_max_allow_depletion').attr('placeholder','0.00 - 1.00');
      $('#id_custom_max_allow_depletion').attr("step", 0.01);
     $('#id_custom_efficiency').attr('placeholder','0.05 - 1.0');
      $('#id_custom_efficiency').attr("step", 0.05);
     $('#id_custom_field_capacity').attr('placeholder','0.10 - 0.45 m³/m³');
      $('#id_custom_field_capacity').attr("step", 0.01);
     $('#id_custom_wilting_point').attr('placeholder','0.00 - 0.22 m³/m³');
      $('#id_custom_wilting_point').attr("step", 0.01);
     $('#id_custom_thetaS').attr('placeholder','0.30 - 0.55 m³/m³');
      $('#id_custom_thetaS').attr("step", 0.01);
    });
  </script>
{% endblock %}
