{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} {{ user }} {% endblock %}

{% block content %}
<div class="container">
	<h4> Add/Update Fields </h4>
	<sup><a class="btn btn-default btn-xs" href="{% url 'home' %}"> Back to Home</a></sup>
<hr>
	<div>
		<form method="post">{% csrf_token %}
    		{{ form.as_p }}
    		<input type="submit" value="Submit" />
		</form>
	</div>
	<hr>
	<div>
		<p>
		{% for agrifield in agrifields %}
			{{ agrifield.id }},
			{{ agrifield.name }},
			<a href="{% url 'update_agrifield' agrifield.id %}">Update</a>,
			<a href="{% url 'delete_agrifield' agrifield.id %}">Delete</a>
			<br>
		{% empty %}
			You dont have a Agrifield
		{% endfor%}
		</p>
	</div>
	<hr>
</div>

{% endblock %}
