{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} {{ user }} {% endblock %}

{% block content %}
<div class="row">
  <h3>Update Agrifield</h3>
  <hr>
      {{ object.name }}
  <div class="col-md-6">
    <div id="on_clink_map" class="map"></div>
    <script>
            map = new OpenLayers.Map("on_clink_map");
            map.addLayer(new OpenLayers.Layer.OSM());
            var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
            var toProjection = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
            var fieldloc = new OpenLayers.LonLat({{ object.longitude }}, {{ object.latitude }}).transform(fromProjection, toProjection);
            var marker = new OpenLayers.Marker(fieldloc)
            var zoom = 10;
            var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);
            markers.addMarker(marker);
            map.setCenter(fieldloc, zoom );
            map.events.register("click", map , function(e){
                        var opx = map.getLonLatFromPixel(e.xy) ;
                        var marker = new OpenLayers.Marker(opx);
                        markers.clearMarkers();
                        markers.addMarker(marker);
                        var lonlat = map.getLonLatFromPixel(e.xy).transform(toProjection, fromProjection);
                          document.getElementById("id_latitude").value = lonlat.lat;
                          document.getElementById("id_longitude").value = lonlat.lon;
            });
    </script>
    <sub> Click on Map to add your Field coordinates</sub>
  </div>
  <div class="col-md-6">
    <form method="post" role="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-success btn-xs">Submit</button>
      {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
