{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load aira_extras %}
{% load bootstrap3 %}

{% block title %} {% trans "Update Agrifield" %} - {{user}} {% endblock %}

{% block content %}

{% menu request.user request.resolver_match.kwargs request.resolver_match.url_name %} <br>

<hr>
<div class="row">
    <div class="col-md-12">{% leaflet_map %}</div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <form  method="post" role="form" action="{% url 'edit-agrifield' agrifield.owner agrifield.slug %}">
                    {% csrf_token %}
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#basic">{% trans "Agrifield" %} {{ object.name }}</a></li>
                        <li id='irr-nav'class="nav-item"><a data-toggle="tab" class="nav-link" href="#irr">{% trans "Irrigation Management" %}</a></li>
                        <li id='crop-nav'class="nav-item"><a data-toggle="tab" class="nav-link" href="#crop">{% trans "Crop" %}</a></li>
                        <li id='soil-nav'class="nav-item"><a data-toggle="tab" class="nav-link" href="#soil">{% trans "Soil" %}</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <br>
                        <div class="tab-pane fade in active" id="basic">
                            {% bootstrap_field form.name %}
                            {% bootstrap_field form.is_virtual %}
                            {% bootstrap_field form.area %}
                            {% bootstrap_field form.longitude %}
                            {% bootstrap_field form.latitude %}
                            {% bootstrap_field form.crop_type %}
                            {% bootstrap_field form.irrigation_type %}
                            {% bootstrap_field form.use_custom_parameters %}
                        </div>
                        <div class="tab-pane fade" id="irr">
                            {% bootstrap_field form.custom_efficiency %}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.irr_eff }}</b></span></sup>
                            {% bootstrap_field form.custom_irrigation_optimizer%}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>0.5</b></span></sup>
                        </div>
                        <div class="tab-pane fade" id="crop">
                            {% bootstrap_field form.custom_kc %}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.kc }}</b></span></sup>
                            {% bootstrap_field form.custom_max_allow_depletion %}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.mad }}</b></span></sup>
                            {% bootstrap_field form.custom_root_depth_max %}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.rd_max}}</b></span></sup>
                            {% bootstrap_field form.custom_root_depth_min %}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.rd_min }}</b></span></sup>
                        </div>
                        <div class="tab-pane fade" id="soil">
                            {% bootstrap_field form.custom_field_capacity %}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.fc|floatformat:"2"  }}</b></span></sup>
                            {% bootstrap_field form.custom_wilting_point %}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.wp|floatformat:"2"  }}</b></span></sup>
                            {% bootstrap_field form.custom_thetaS %}
                            <sup>*{% trans "Value from system's database" %}: <span class="text-success"><b>{{ default_parms.thetaS|floatformat:"2"  }}</b></span></sup>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-xs">{% trans "Update" %}</button>
                </form>
                {% if object_list %}
                    <button class="btn btn-xs btn-default pull-right" id="manage-agrifields"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="agrifields-list-table" class="card-block" {% if not 'page' in request.get_full_path %} style="display:None;"{% endif %}>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>{% trans "Agrifield" %}</th>
                                            <th>{% trans "Crop Type" %} / {% trans "Irrigation Type" %}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for agrifield in object_list  %}
                                        <tr>
                                            <td>{% if agrifield.is_virtual %}<span><img  data-toggle="tooltip" title="{% trans 'Virtual Field' %}" style="float:left;padding-right:10px" height="25" width="35" src="{% static 'img/rocket.png' %}" alt=""></span>{% endif %}</td>
                                            <td>{{ agrifield.name }}</td>
                                            <td><span>{{ agrifield.crop_type.name}}<br>{{ agrifield.irrigation_type.name }}</span></td>
                                            <td>
                                                <span style="padding-right:20px;" class="align-middle"><a id="{{ agrifield.pk }}" class="aira-nav-link" href="{% url 'edit-agrifield' agrifield.owner agrifield.slug %}"><i data-toggle="tooltip" title="{% trans 'Edit' %}" class="fa fa-pencil" aria-hidden="true"></i></a></span>
                                                <span style="padding-right:20px;" class="align-middle"><a id="{{ agrifield.pk }}" class="aira-nav-link" href="{% url 'add-irrigationlog' agrifield.slug %}"><i data-toggle="tooltip" title="{% trans 'Irrigation Logs' %}" class="fa fa-list-ol" aria-hidden="true"></i></a></span>
                                                <span style="padding-right:20px;" class="pull-left"><a id="{{ agrifield.pk }}" class="aira-nav-link trash" href="#"><i data-toggle="tooltip" title="{% trans 'Remove' %}" class="fa fa-trash"></i></a></span>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <nav aria-label="">
                                    <ul class="pagination justify-content-end">
                                        {% if object_list.has_previous %}
                                            <li class="page-item"><a class="page-link"href="?page={{ object_list.previous_page_number }}">Previous</a></li>
                                        {% endif %}

                                        {% for i in object_list.paginator.page_range %}
                                            <li class="page-item {% if object_list.number == i %}active{% endif %}">
                                                <a class="page-link"href="?page={{i}}">{{i}}</a>
                                            </li>
                                        {% endfor %}

                                        {% if object_list.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a>
                                            </li>

                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{% static 'js/aira.js' %}"></script>
<script type="text/javascript">
    // Init Map
    aira.LeafletMap.createMap('map', [{{ agrifield.as_json|safe }}], [39.15,20.98],
                        10, false, [], null);

    $(document).ready(function(){
        // Form Custom Parameter Tab navigation handling
        // Show or Hide tabs based of user selection
        // if user_custom_parameter is checked or unchecked (True or False)
        if ($('#id_use_custom_parameters').prop('checked')) {
            $("#irr-nav").show();
            $("#crop-nav").show();
            $("#soil-nav").show();
        } else {
            $("#irr-nav").hide();
            $("#crop-nav").hide();
            $("#soil-nav").hide();
        }

        // toogle object agriparameters
        $("#id_use_custom_parameters").click(function(){
            $("#irr-nav").stop().toggle();
            $("#crop-nav").stop().toggle();
            $("#soil-nav").stop().toggle();
        });

        // Ugly placeholders
        // TODO: Find a better way
        $('#id_area').attr('placeholder',"m²");
        $('#id_custom_irrigation_optimizer').attr('placeholder','0.10 - 1.00');
        $('#id_custom_irrigation_optimizer').attr("step", 0.01);
        $('#id_custom_kc').attr('placeholder','0.10 - 1.50');
        $('#id_custom_kc').attr("step", 0.01);
        $('#id_custom_root_depth_max').attr('placeholder','0.2 - 4.0 m');
        $('#id_custom_root_depth_max').attr("step", 0.1);
        $('#id_custom_root_depth_min').attr('placeholder','0.1 - 2.0 m');
        $('#id_custom_root_depth_min').attr("step", 0.1);
        $('#id_custom_max_allow_depletion').attr('placeholder','0.00 - 1.00');
        $('#id_custom_max_allow_depletion').attr("step", 0.01);
        $('#id_custom_efficiency').attr('placeholder','0.05 - 1.0');
        $('#id_custom_efficiency').attr("step", 0.05);
        $('#id_custom_field_capacity').attr('placeholder','0.10 - 0.45 m³/m³');
        $('#id_custom_field_capacity').attr("step", 0.01);
        $('#id_custom_wilting_point').attr('placeholder','0.00 - 0.22 m³/m³');
        $('#id_custom_wilting_point').attr("step", 0.01);
        $('#id_custom_thetaS').attr('placeholder','0.30 - 0.55 m³/m³');
        $('#id_custom_thetaS').attr("step", 0.01);

    });

    // Toggle Irrigation log Table
    $(document).on("click", "#manage-agrifields", function(){
        $("#agrifields-list-table").toggle();
        $("i", this).toggleClass("fa fa-chevron-up fa fa-chevron-down");
    });

    // Trash an object with a  conform pop up
    $(document).on("click", ".trash", function(e) {
         var agrifield_id = ($(this).attr('id'));
         var table_row = $(this).closest('tr')
         bootbox.confirm({
             title: "{% trans 'aira message' %}",
             message: "<h3 style='padding-left:70px'>{% trans 'Do you want delete this field?' %}</h3>",
             buttons: {
                 confirm: {
                     label: "{% trans  'Yes' %}",
                     className: 'btn btn-success pull-left'
                 },
                 cancel: {
                     label: "{% trans  'No' %}",
                     className: 'btn btn-danger'
                 }
             },
             callback:function(result){
                if (result) {
                    $.ajax({
                        url : "/delete/agrifield/",
                        type : "POST",
                        data : { agrifield_pk: agrifield_id },
                        success : function(response) {
                            table_row.remove()
                             $.notify("{% trans  'Agrifield deleted' %}");
                        },
                        error : function(xhr,errmsg,err) {
                            console.log(xhr.status + ": " + xhr.responseText);
                        }
                    });
                }
            }
         })
     })
</script>
{% endblock %}
