{% extends 'base.html' %}
{% block title %} {{ user }} {% endblock %}

{% block content %}
<div class="container">
	<h4> Add/Update Crop </h4>
	<sup><a class="btn btn-default btn-xs" href="{% url 'home' %}"> Back to Home</a></sup>
				
<hr>
	<div>
		<form
			  method  = "POST">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-success btn-xs">Add Crop</button>
		</form>
	</div>
</div>
<br>
<hr>
<div>
	<b>{{ field }} </b> 
	<table class="table">
    <thead>
        <tr>
            <th>CropType</th>
            <th>Area (m<sup>3</sup>)</th>
            <th>Irrigation Type <th>
        </tr>
    </thead>
    <tbody>
{% for c in crops%}
        <tr>
            <td><a href="{% url 'update_crop' c.id %}"> {{ c.crop_type }}</a></td>
            <td>{{ c.area }}</td>
            <td>{{ c.irrigation_type }}</td>
        </tr>
   	{% endfor%}
	    </tbody>
</table>
</div>

{% endblock %}