{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} Home - {{user}} {% endblock %}
{% block content %}

<!-- IF  NOT PROFILE -->
{% if not profile %}
			<div class="alert alert-warning">
			    <a href="#" class="close" data-dismiss="alert">&times;</a>
				<i class="fa fa-hand-o-right"></i> &nbsp; Please update your pernonal information 
				<a href="{% url 'create_profile' %}"> here </a> 
			</div>
{% endif %}
<!-- END IF NOT PROFILE -->

<!-- context['map'] -->
 <div class="panel panel-default">
		<div class="panel-heading"></div>
		<div class="panel-body">
			<div class="video-container"><iframe src="{% url 'user_map' %}" frameborder="0"></iframe></div>
			<br>
			<sup> Legend:&nbsp; <span class="text-danger">Red Mark </span> is your Agrifields</sup></div>
		<!-- IF  PROFILE -->
		{% if profile %}		
		<div class="panel-footer">
			<strong>First name:</strong> 
					<a href="{% url 'update_profile' profile.id %}">{{ profile.first_name }}</a><br>
			<strong>Last name :</strong> 
					<a href="{% url 'update_profile' profile.id %}">{{ profile.last_name }}</a><br>
			<strong>Address:</strong> 
					<a href="{% url 'update_profile' profile.id %}">{{ profile.address }}</a><br></div>
		{% endif %}
		<!-- END IF PROFILE-->
</div>



<!-- IF NOT AGRIFIELDS-->
{% if not agrifields %}
			<div class="alert alert-warning">
			    <a href="#" class="close" data-dismiss="alert">&times;</a>
				<i class="fa fa-exclamation-triangle"></i> &nbsp; Hmmm, it seems you have't any fields, 
				Add at least one <a href="{% url 'create_agrifield' %}"> here </a> 
			</div>
{% endif %}
<!-- END IF NOT AGRIFIELDS-->

<!-- IF AGRIFIELDS -->
{% if agrifields %}
 <div class="panel panel-default">
		<div class="panel-heading">
			<a class="btn btn-success btn-xs" href="{% url 'create_agrifield' %}">
			<i class="fa fa-plus-square-o"></i>&nbsp;<i class="fa fa-minus-square-o"></i>&nbsp; Agrifields</a>
		</div>
		{% for f in agrifields %}
		<div class="panel-body">
			<div class="col-xs-6">
					<p> <i class="fa fa-angle-right"></i> 
					<a href="{% url 'update_agrifield' f.id %}">{{ f.name }}</a> with 
					<a href="{% url 'update_agrifield' f.id %}">{{ f.ct.ct_name }}</a> and  
					<a href="{% url 'update_agrifield' f.id %}">{{ f.irrt.irrt_name }}</a> system. </p>
					
					<span class="text text-success"> Latest TimeLog</span> 
					<a href="#">
						<i class="fa fa-plus-square-o"></i>&nbsp;<i class="fa fa-minus-square-o"></i></a>
					<br>
					{% if f.irrigationlog_set.latest %}
						<i class="fa fa-angle-double-right"></i>{{ f.irrigationlog_set.latest.time }} with 
						{{ f.irrigationlog_set.latest.water_amount }}&nbsp;m <sup>3</sup> 
						<br>
					{% else %}
					<br>
						<div class="alert alert-warning">
			   				 <a href="#" class="close" data-dismiss="alert">&times;</a>
							<i class="fa fa-exclamation-triangle"></i> &nbsp; Hmmm, it seems you have't any TimeLogs, 
							 for {{ f.name }} Agrifield,
							 Please add at least one <a href="{% url 'create_agrifield' %}"> here </a> 
						</div>
					{% endif %}	

			</div>	
			<div class="col-xs-6">
				(<span class="text text-success">aira</span>) advice
			</div>	
		</div>		
		<hr>			
		{% endfor %}
		{% endif %}
	<!-- END IF  AGRIFIELDS-->
</div>

{% endblock %}