{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %} Home - {{user}} {% endblock %}

{% block content %}
{% if not profile %}
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a><i class="fa fa-hand-o-right"></i> &nbsp; Please update your pernonal information<a href="{% url 'create_profile' %}"> here </a> 
  </div>
{% endif %}
<!-- context['map'] -->
<div class="panel panel-default">
  <div class="panel-heading"></div>
    <div class="panel-body">
      <div id="open_map" class="map"></div>
       <script type="text/javascript">
          map = new OpenLayers.Map("open_map");
          map.addLayer(new OpenLayers.Layer.OSM());
          {% for lat,lon in coords %}
          var lonLat = new OpenLayers.LonLat({{lon}}, {{lat}})
                .transform(
                  new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                  map.getProjectionObject() // to Spherical Mercator Projection
                );
          var zoom=9;
          var markers = new OpenLayers.Layer.Markers( "Markers" );
          map.addLayer(markers);
          markers.addMarker(new OpenLayers.Marker(lonLat));
          map.setCenter (lonLat, zoom);
          {% endfor %}
       </script>
      </div>
      {% if profile %}    
        <div class="panel-footer">
          <strong>First name:</strong> <a href="{% url 'update_profile' profile.id %}">{{ profile.first_name }}</a><br>
          <strong>Last name :</strong> <a href="{% url 'update_profile' profile.id %}">{{ profile.last_name }}</a><br>
          <strong>Address:</strong> 
          {% if profile.address %}
            <a href="{% url 'update_profile' profile.id %}">{{ profile.address }}</a><br>
          {% else %}
            <a href="{% url 'update_profile' profile.id %}"> [edit] </a><br>
          {% endif %}
        </div>
      {% endif %}
</div>
{% if not agrifields %}
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <i class="fa fa-exclamation-triangle"></i> &nbsp; Hmmm, it seems you have't any fields, Add at least one <a href="{% url 'create_agrifield' %}"> here </a> 
  </div>
{% else %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <a class="btn btn-success btn-xs" href="{% url 'create_agrifield' %}"><i class="fa fa-plus-square-o"></i>&nbsp;<i class="fa fa-minus-square-o"></i>&nbsp; Agrifields</a>
    </div>
    {% for f in agrifields %}
      <div class="panel-body">
        <div class="col-xs-12">
          <p><a href="{% url 'update_agrifield' f.id %}">{{ f.name }}</a> is growing <a href="{% url 'update_agrifield' f.id %}">{{ f.ct.ct_name }}</a> using <a href="{% url 'update_agrifield' f.id %}">{{ f.irrt.irrt_name }}</a> irrigation system. </p>       
          {% if f.warning_loc %}
            <div class="alert alert-danger">
              <a href="#" class="close" data-dismiss="alert">&times;</a><i class="fa fa-exclamation-triangle"></i> &nbsp; 
               Your agrifield location is outside Arta's plain field. <br>
               Update you field location <a href="{% url 'update_agrifield' f.id %}">here</a>.
            </div>            
          {% else %}
            {% if f.warning_dates %}
              <div class="alert alert-warning">
                <a href="#" class="close" data-dismiss="alert">&times;</a><i class="fa fa-exclamation-triangle "></i> &nbsp; 
                You either haven't enter any irrigation log or your latest irrigation date isn't included in our meteorological dataset. <br>
                Your irrigation advice is calculated using our dataset starting date: <span class="text-success">{{ f.start_date }}  </span>
              </div>
            {% endif %}
            {% if f.irw %}
              <p><span class="text text-success">Aira</span> latest advice is to irrigate<span class="text text-success">&nbsp;<i class="fa fa-tint"></i>&nbsp; {{ f.irw }} m<sup>3</sup></span> of water during <span class="text text-success"><i class="fa fa-clock-0"></i>99/12/2124</span>&nbsp;daytime (<a href="{% url 'advice' f.id %}">Calculation Report</a>).</p>
            {% endif %}
            <sub><a class="btn btn-success btn-xs" href="{% url 'create_irrlog' f.id %}"><i class="fa fa-plus-square-o"></i>&nbsp;<i class="fa fa-minus-square-o"></i>&nbsp; TimeLogs</a></sub></p>
            <hr class="bhr">
          {% endif %}
        </div>
      </div>         
    {% endfor %}
{% endif %}
{% endblock %}