{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %} Welcome {% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h3>
    <span class="text-success">A</span>gricultural
    <span class="text-success">IR</span>rigation
    <span class="text-success">A</span>dvisor</h3>
    <p>using
      <a target = "_blank"href="http://openmeteo.org/">OpenMeteo.org</a> measurements,
      <a target = "_blank" href="http://pthelma.readthedocs.org/en/latest/">Pthelma</a> Models,
      <a target = "_blank"href="http://cirrus.meteo.noa.gr/forecast/bolam/index.htm">NOA</a> forecast.
    </p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <br>
        <div class="container">
          <div class="row">
            <div class='col-sm-4'>
              <h4 style="float: left;">Select Date: &nbsp;</h4>
              <div class="form-group">
                  <div class='input-group date' id='form_datetime'>
                    <input type='text' class="form-control" />
                      <input type="hidden" class="form-control" id="mirror_field" value="" readonly />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                          <div class="col-md-2 col-md-offset-1">
                            <button id="id_button_date" type="submit" class="btn btn-success btn" onclick="create_map(document.getElementById('mirror_field').value)">View</button>
                          </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
       </div>
       <div class="panel-body">
          <div id="wms_map" class="map"></div>
          <div><h4 id="date_map"></h4></div>
       </div>
    </div>
  </div>
</div>
      <script type="text/javascript">
          $("#form_datetime").datetimepicker({
            format: "yyyy-mm-dd",
            startDate: "2015-01-01",
            endDate:'{{ yesterday|date:"Y-m-d" }}',
            autoclose: true,
            pickerPosition: "bottom-left",
            minView:2,
            linkField: "mirror_field",
            linkFormat: "yyyy-mm-dd",
            pickerPosition: "bottom-left"
            });

          function create_map(date)
            {
              // Clear previous map
              document.getElementById('wms_map').innerHTML = ""
              map = new OpenLayers.Map("wms_map");
              // Loop to add layers
              var layers_list = ['Daily_evaporation_','Daily_humidity_', 'Daily_rain_','Daily_temperature_',
                                 'Daily_pressure_', 'Daily_solar_radiation_'];
              for (var i in layers_list) {
                var map_variable = new OpenLayers.Layer.WMS( layers_list[i] + date,
                        "http://megdobas.irrigation-management.eu/cgi-bin/mapserver?map=/var/cache/pthelma/mapserver-historical.map",
                          {layers: layers_list[i] + date,
                           format: 'png',
                           bbox: '20.7543000000000006,38.9926000000000030,21.1385000000000005,39.2668999999999997'},
                          {projection: new OpenLayers.Projection("EPSG:4326"), units: "m"});
                map.addLayer(map_variable);
              }
              // Add controll and center
              map.addControl(new OpenLayers.Control.LayerSwitcher());
              map.setCenter (new OpenLayers.LonLat(20.98, 39.15), 11);
           }
           // Initial map in first request
           create_map("2015-01-01");
      </script>

{% endblock %}

