{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Welcome " %}{% endblock %}

{% block main_page %}
    <p class="pull-left">
        <b>{% trans "View historical available data" %}</b> <br>
        <span>{{ start_date|date:"d/m/Y" }}</span> ~ <span>{{ end_date|date:"d/m/Y" }}</span>
    </p>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-sm-3">
            <div id="daily-datepicker" class="input-group date" data-provide="datepicker" onchange="aira.Map.createMap()">
                <input id="date-daily" type="text" class="form-control" value='{{ end_date|date:"d/m/Y" }}'>
                <div class="input-group-addon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
            </div>
            <div id="monthly-datepicker" style="display:none" onchange="aira.Map.createMap()"
                 class="input-group date" data-provide="datepicker">
                <input id="date-monthly" type="text" class="form-control" value='{{ end_date|date:"m/Y" }}'>
                <div class="input-group-addon"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span></div>
            </div>

        </div>
        <div class="col-sm-7">
            <div id="meteo-daily" onchange="aira.Map.createMap()">
                <select  class="form-control" id="dailyMeteoVar">
                    <option value="Daily_rain_">{% trans "Daily Rainfall" %} (mm/d)</option>
                    <option value="Daily_evaporation_">{% trans "Daily Potential Evapotranspiration" %} (mm/d)</option>
                    <option value="Daily_humidity_">{% trans "Daily Humidity" %} (%)</option>
                    <option value="Daily_temperature_">{% trans "Daily Temperature" %} (°C)</option>
                    <option value="Daily_wind_speed_">{% trans "Daily Wind Speed" %} (m/s)</option>
                    <option value="Daily_solar_radiation_">{% trans "Daily Solar Radiation" %} (W/m²)</option>
                </select>
            </div>
            <div id="meteo-monthly" style="display:none" onchange="aira.Map.createMap()">
                <select class="form-control" id="monthlyMeteoVar">
                    <option value="Monthly_evaporation_">{% trans "Monthly Potential Evapotranspiration" %} (mm/month)</option>
                </select>
            </div>
        </div>
          <div class="col-sm-2">
            <input type="checkbox"  id="timestamp" onchange="aira.Map.createMap()"
                       checked data-toggle="toggle" data-on="Daily" data-off="Monthly"
                       data-width="100" data-onstyle="primary" data-offstyle="warning">
          </div>

    </div>
    <hr>
        <div id="wms_map" class="map"></div>
        <p id="mapLegend" class="text-center"><p>
    <hr>
    <div class="clearfix"></div>
    <div class="pull-right">
        <button id="previous" type="button" class="btn btn-outline-primary" onclick="aira.Map.previous()"><</button>
        <button id="current" type="button" class="btn btn-outline-primary"></button>
        <button id="next" type="button" class="btn btn-outline-primary"onclick="aira.Map.next()">></button>
    </div>


{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
      var aira = {};
      aira.yesterday = '{{ end_date|date:"d/m/Y" }}';
      aira.transToggleTimestampMap = {
        toogleDaily: '{% trans "Switch to Daily" %}',
        toogleMonthly: '{% trans "Switch to Monthly" %}',
        betweenDatesViewing: '{% trans "Viewing: "%}',
        mapLegendDaily: '{% trans "Click on the map to get values" %}',
        mapLegendMonthly: '{% trans "Click on the map to get values" %}',
      }
  </script>
  <script type="text/javascript" src="{% static 'js/aira.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        aira.Map.createMap()
    });
</script>
{% endblock %}
