{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Welcome " %}{% endblock %}

{% block upper_main %}
  <div class="jumbotron">
    <div class="container">
      <span class="text-success">A</span>gricultural
      <span class="text-success">IR</span>rigation
      <span class="text-success">A</span>dvisor</h3>
      <p>{% trans "using" %}
        <a target = "_blank"href="http://openmeteo.org/">OpenMeteo.org</a> {% trans "measurements" %},
        <a target = "_blank" href="http://pthelma.readthedocs.org/en/latest/">Pthelma</a> {% trans "Models" %},
        <a target = "_blank"href="http://cirrus.meteo.noa.gr/forecast/bolam/index.htm">{% trans "NOA" %}</a> {% trans "forecast" %}.
      </p>
    </div>
  </div>
<hr>
{% endblock %}
{% block main_page %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <hr>
          <div class="row">
            <div class="col-md-3">
              <p>
                <b>{% trans "View historical available data" %}</b><br>
                <sub>{% trans "Time Period" %}: <span class="text-success">{{ start_date|date:"Y-m-d" }}</span> : <span class="text-success">{{ end_date|date:"Y-m-d" }}</span></sub>
              <p>
            </div>
            <div class="col-md-3">
              <div  onchange="aira.toogleIndexMapsUI.selectRasterMap()"
                          style="float: left;" class="form-group">
                <div class="input-group date" id="calendar">
                  <input type='text' class="form-control" id="datepickerInputSelector" />
                  <input type="hidden" class="form-control" id="datetimepickerMirrorField" readonly />
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
              </div>

            </div>
            <div class="col-md-3">
              <div id="meteo-daily" class="form-group">
                <select  id="dailyMeteoVar" class="form-control" onchange="aira.toogleIndexMapsUI.selectRasterMap()">
                  <option value="Daily_rain_">{% trans "Daily Rainfall" %} (mm/d)</option>
                  <option value="Daily_evaporation_">{% trans "Daily Potential Evapotranspiration" %} (mm/d)</option>
                  <option value="Daily_humidity_">{% trans "Daily Humidity" %} (%)</option>
                  <option value="Daily_temperature_">{% trans "Daily Temperature" %} (°C)</option>
                  <option value="Daily_wind_speed_">{% trans "Daily Wind Speed" %} (m/s)</option>
                  <option value="Daily_solar_radiation_">{% trans "Daily Solar Radiation" %} (W/m²)</option>
                </select>
              </div>
              <div id="meteo-monthly" >
                <div class="form-group">
                  <select  id="monthlyMeteoVar" class="form-control" onchange="aira.toogleIndexMapsUI.selectRasterMap()">
                    <option value="Monthly_evaporation_">{% trans "Monthly Potential Evapotranspiration" %} (mm/month)</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <a href="#" id="timestampSelectorBtn"
                          toggle-timestamp = "daily"
                          raster-timestamp = "daily"
                          onclick="aira.toogleIndexMapsUI.selectTimestampView()"
                          class="btn btn-primary btn">
              </a>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="row">
             <div class="col-xs-12">
               <div id="wms_map" class="map"></div>
               <p id="mapLegend" class="text-center">  <p>
             </div>
          </div>
          <div class="row">
            <div class="col-xs-4 text-left">
              <button id="previous" type="button" class="btn btn-xs btn-default"
                        onclick="aira.toogleIndexMapsUI.createPreviousRasterMap()"></button>
            </div>
            <div class="col-xs-4 text-center">
              <button id="current" class="btn btn-xs btn-default"></button>

            </div>
            <div class="col-xs-4 text-right">
              <button id="next" type="button" class="btn btn-xs btn-default"
                        onclick="aira.toogleIndexMapsUI.createNextRasterMap()"></button>
            </div>
          </div>
        </div>
          <div class="panel-footer">
          {% block extramap %}
          {% endblock %}
          </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
      var aira = {};
      aira.yesterday = '{{ end_date|date:"Y-m-d" }}';
      aira.transToggleTimestampMap = {
        toogleDaily: '{% trans "Switch to Daily" %}',
        toogleMonthly: '{% trans "Switch to Monthly" %}',
        betweenDatesViewing: '{% trans "Viewing: "%}',
        mapLegendDaily: '{% trans "Click on the map to get values" %}',
        mapLegendMonthly: '{% trans "Click on the map to get values" %}',
      }
  </script>
  <script type="text/javascript" src="{% static 'js/aira.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      aira.toogleIndexMapsUI.initTimestampView();
    });
</script>
{% endblock %}
