{% extends 'base.html' %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Welcome " %}{% endblock %}

{% block upper_main %}
  <div class="jumbotron">
    <div class="container">
      <h3>
      <span class="text-success">A</span>gricultural
      <span class="text-success">IR</span>rigation
      <span class="text-success">A</span>dvisor</h3>
      <p>{% trans "using" %}
        <a target = "_blank"href="http://openmeteo.org/">OpenMeteo.org</a> {% trans "measurements" %},
        <a target = "_blank" href="http://pthelma.readthedocs.org/en/latest/">Pthelma</a> {% trans "Models" %},
        <a target = "_blank"href="http://cirrus.meteo.noa.gr/forecast/bolam/index.htm">{% trans "NOA" %}</a> {% trans "forecast" %}.
      </p>
    </div>
  </div>
  <hr>
{% endblock %}
{% block main_page %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading">
  &nbsp;
    <div class="row">
      <div class="col-md-4">
        <h4>&nbsp;&nbsp;&nbsp;{% trans "View historical available data" %}<br>
            &nbsp;&nbsp;&nbsp;<sub>{% trans "Time Period" %}: <span class="text-success">{{ start_date|date:"Y-m-d" }}</span> : <span class="text-success">{{ end_date|date:"Y-m-d" }}</span></sub>
        </h4>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <select onchange="create_map(document.getElementById('mirror_field').value,document.getElementById('meteo_var').value )" id="meteo_var" class="form-control">
            <option value="Daily_rain_">{% trans "Daily Rainfall" %} (mm/d)</option>
            <option value="Daily_evaporation_">{% trans "Daily Potential Evapotranspiration" %} (mm/d)</option>
            <option value="Daily_humidity_">{% trans "Daily Humidity" %} (%)</option>
            <option value="Daily_temperature_">{% trans "Daily Temperature" %} (°C)</option>
            <option value="Daily_wind_speed_">{% trans "Daily Wind Speed" %} (m/s)</option>
            <option value="Daily_solar_radiation_">{% trans "Daily Solar Radiation" %} (W/m²)</option>
          </select>
        <div onchange="create_map(document.getElementById('mirror_field').value,document.getElementById('meteo_var').value )" style="float: left;" class="form-group">
          <div class='input-group date' id='form_datetime'>
            <input type='text' class="form-control" />
            <input type="hidden" class="form-control" id="mirror_field" value="2015-04-06" readonly />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
       <div class="panel-body">
          <div id="wms_map" class="map"></div>
          <div><h4 id="date_map"></h4></div>
            <button id="previous" type="button" class="btn btn-default" onclick="previous_map()"><i class="fa fa-chevron-left"></i>&nbsp;</button>
            <button id="current" class="btn btn-default"></button>
            <button id="next" type="button" class="btn btn-default" onclick="next_map()"><i class="fa fa-chevron-right"></i>&nbsp;</button>
            <a style="float: right;" class="btn btn-success" target="_blank" href="http://system.irrigation-management.eu/"> View Meteorogical Network Stations</a>
       </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    aira.yesterday = '{{ yesterday|date:"Y-m-d" }}';
    aira.trans_viewing = '{% trans "Viewing:" %}';
</script>
<script type="text/javascript" src="{% static 'js/aira.js' %}"></script>
<script type="text/javascript">
    // Initial map in first request
    create_map();
</script>
{% endblock %}
