{% extends 'base.html' %}
{% block title %} Welcome {% endblock %}

{% block content %}	
    <div class="jumbotron">
      <div class="container">
        <h3><span class="text-success">A</span>gricultural  <span class="text-success">IR</span>rigation <span class="text-success">A</span>dvisor (<span class="text-success">aira</span>)</h3>
        <p>Arta, Epirus <a  href="#">39°9′N 20°59′E</a></p>
      </div>
    </div>	
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-12">
          <h4>Overview</h4>
          <p><span class="text-success">aira</span> provide irrigation advice for register users based on meteorological forecast, evapotranspiration estimation and soil water balance model implementation. </p>
        </div>
      </div>
</div>
{% endblock %}

