{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} Irrigation Log {% endblock %}

{% block content %}
<div class="container">
	<h4> Irrigation Log</h4>
	<sup><a class="btn btn-default btn-xs" href="{% url 'home' %}"> Back to Home</a></sup>
<hr>
	<div>
	<form
		method  = "POST">
			{% csrf_token %}
			{{ form.as_p }}
			<br><br>
			<button type="submit" class="btn btn-success btn-xs">Add Log</button>
	</form>
	</div>
	<hr>

	<div>
	<b> Your {{ crop }}  irrigation log:</b> 
	<table class="table">
    <thead>
        <tr>
            <th>Time</th>
            <th> Water Amount </th>
        </tr>
    </thead>
    <tbody>
{% for l in logs%}
        <tr>
            <td><a href="{% url 'update_log' l.id %}"> {{ l.time }}</a></td>
            <td>{{ l.water_amount }}</td>
            <td><a href="{% url 'delete_log' l.id %}"> Delete </a></td>
        </tr>

   	{% endfor%}
	    </tbody>
</table>
</div>
</div>
{% endblock %}