{% extends 'base.html' %}
{% load i18n %}

{% load bootstrap3 %}

{% block title %} {% trans "Irrigation Log" %} {% endblock %}

{% block content %}
{% if logs %}
  <div class="alert alert-warning">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <i class="fa fa-hand-o-right fa-1x"></i>&nbsp;
    {% trans "You have" %} <b><span class="text text-success">{{logs_count}}</span></b> {% trans "Irrigation Events in your database" %}.
  </div>
{% endif %}
<hr>

<div class="container">
  <div class="row">
  <h4>{% trans "Add Irrigation Event" %}</h4>
  <div class="col-md-4">
    <form method="post" role="form" class="form-horizontal">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
        <span class="add-on"><i class="icon-th"></i></span>
        <button type="submit" class="btn btn-success btn-xs">{% trans "Add" %}</button>
      {% endbuttons %}
      <script type="text/javascript">
          $("#id_time").datetimepicker({
            format: "yyyy-mm-dd hh:ii",
            autoclose: true,
            todayBtn: true,
            pickerPosition: "bottom-left"
            });
      </script>
    </form>
  </div>
  <div class="col-md-1">
  </div>
  {% if logs %}
  <div class="col-md-7">
    <div class="table-responsive">
      <table class="table">
        <h4> {% trans "List of" %} <a href="{% url 'update_agrifield' agrifield.id %}">{{ agrifield.name }}</a> {% trans "Irrigation Events" %}</h4>
        <hr>
        <thead>
          <tr>
            <th>{% trans "#id" %}</th>
            <th>{% trans "Datetime" %}</th>
            <th>{% trans "Applied water" %} (m<sup>3</sup>)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for l in logs  %}
            <tr>
              <td>{{ l.id }}</td>
              <td><a href="{% url 'update_irrlog' l.id%}">{{l.time}}</a></td>
              <td>{{l.water_amount}}</td>
              <td><a href="{% url 'delete_irrlog' l.id %}">{% trans "Delete" %} </a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  </div> <!-- row -->
</div> <!-- container -->
{% endblock %}
