{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% load bootstrap3 %}
{% block title %} {{ f.name}} {% endblock %}

{% block content  %}
<h4 style="text-align: center;">{% trans 'Irrigation Performance' %}</h4>
<div id="irrchart" style="width:100%; height:400px;"></div>
<div class="container">
    <a style="float:right"  href="{% url 'performance_csv' f.id %}"> <i class="fa fa-cloud-download"></i> {% trans "Download Chart Data" %}</a><br>
    <b>{% trans 'Total Estimated Irrigation Water Amount' %}</b>: {{ f.sum_ifinal|floatformat:"2"  }} mm <br>
    <b>{% trans "Total Applied Water Amount" %}</b>: {{ f.sum_applied_water|floatformat:"2" }} mm <br>
    <b>{% trans "Percentage difference"%}</b>: {{ f.percentage_diff|floatformat:"0" }} % <br>
</div>
<br><br><br><br><br><br><br>
{% endblock %}
{% block extrajs %}
<script type="text/javascript">
   performance = {}; //empty js object
   performance.title = " {{ f.name }}"
   performance.subtitle = "{{ f.crop_type}} - " + "{{ f.irrigation_type }}"
   performance.ifinal_title = "{% trans 'Estimated Irrigation Water Amount' %}"
   performance.applied_water_title = "{% trans 'Applied Water Amount' %}"
   performance.yAxis_title =  " "
   performance.dates = [
            {% for d in f.chart_dates  %}
                "{{ d | safe }}" {% if not forloop.last %},{% endif %}
            {% endfor %}
    ];
   performance.ifinal = {{ f.chart_ifinal }}
   performance.applied_water = {{ f.applied_water}}
</script>

<script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
<script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/performance-chart.js' %}"></script>

{% endblock %}
