{% extends 'base.html' %}
{% load i18n %}

{% load bootstrap3 %}
{% block title %} {% trans "Account Settings" %} {% endblock %}

{% block content %}
{% if user.is_demo %}
 <div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <i class="fa fa-info-circle fa-2x"></i>&nbsp; <span style="font-size:32px">{% trans "demo" %}</span>
</div>
{% endif %}
  <form method="post" role="form" >
    {% csrf_token %}
    <div class='row'>
          <div class='col-sm-5'>
          <h4 class="lead">{% trans "Update" %} {% trans "Profile" %}</h4>
            <div class='form-group'>
              {% bootstrap_field form.first_name %}
              {% bootstrap_field form.last_name %}
              {% bootstrap_field form.address %}
              {% bootstrap_field form.supervision_question %}
              {% if not user.is_demo %}
                    <button type="submit" class="btn  btn-sm btn-primary">{% trans "Update" %}</button>
                    <a class="btn btn-sm btn-primary"href="{% url 'django.contrib.auth.views.password_reset' %}">{% trans "Reset password" %}</a>
                {% if user.profile.id %}
                  <a class="btn btn-sm btn-danger" href="{% url 'delete_profile' user.profile.id %}"> {% trans "Delete account" %}</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="col-sm-4">
            <h4 class="lead">{% trans "Notification Setup" %}</h4>
             <div class="form-group">
                {% bootstrap_field form.notification %}
                {% bootstrap_field form.email_language %}
             </div>
          </div>
          <div class="col-sm-3">
            <h4 class="lead">{% trans "Supervision" %}</h4>
             <div class="form-group">
                {% bootstrap_field form.supervisor %}
             </div>
          </div>
    </div>

  </form>
{% endblock%}
