{% load static %}
{% load i18n %}

<script type="text/javascript" src="{% static 'js/aira.js' %}"></script>
<script type="text/javascript">
    map = aira.mapModule.getMap("field_map");
    aira.mapModule.addCoveredAreaLayer(map, "%{ static 'kml/covered_area.kml' %}");
    aira.agrifields = [
        {
            name: "{{ object.name }}",
            url: "#",
            coords: [{{ object.location.coords|cut:"("|cut:")" }}],
        }
    ];
    var agrifields_layer = aira.mapModule.addAgrifieldsToMap(
        map, aira.agrifields, "{{ object.name }}"
    );
</script>
