{% extends 'aira/base/main.html' %}
{% load i18n %}


{% block title %}
  {% blocktrans with field_name=object.name %}Irrigation report for field {{ field_name }}{% endblocktrans %}
{% endblock %}


{% block content %}
  <div class="row">
    <div class="col-lg-6">
      {% include "aira/recommendation/map.html" %}
    </div>
    <div class="col-lg-6">
      {% include "aira/recommendation/fieldinfo.html" %}
    </div>
  </div>
  <div class="container">
    <div class="panel panel-default">
      {% include "aira/recommendation/agrifield_results.html" %}
    </div>
  </div>
{% endblock %}


{% block extrajs %}
  {% include "aira/recommendation/js.html" %}
{% endblock extrajs %}
