{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans "Irrigation notification" %}</title>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <style media="screen">
      {% include "aira/email_notification/email_notification.css" %}
    </style>
</head>

<body>
  <section>
    {{ header|safe }}
    <br><br>
    {{ timestamp }}<br>
    <h1>{% trans "Irrigation notification" %}</h1>
    <p><a href="http://{{ site.domain }}/accounts/login/">{% trans "Home Page" %}</a></p>
  </section>

  <section>
    <p>{% trans "Field Owner" %}: <a href="http://{{ site.domain }}/home/{{ owner }}/">{{ owner }}</a> <br></p>
    <hr>
    <h2>{% trans "Irrigation Actions" %}</h2>
    {% for f in agrifields  %}
      <ul class="irrigations">
        <li class="{% if  f.needs_irrigation %} in {% else %} out {% endif %}">
          <ul class="irrigate">
            {% if f.needs_irrigation %}
              {% for date, data in f.alternative_irrigations.iterrows %}
                <li class="empty">
                  {% trans 'The field' %} <a href="http://{{ site.domain }}/home/{{ owner }}/">{{ f.name }}</a> {% trans "needs to be irrigated with " %}
                  <b>{{ data.ifinal |floatformat:"2" }} </b> mm ({{ data.ifinal_m3 |floatformat:"2" }} m³)
                  {% trans 'at' %} <b>{{ date |date:"d/m/Y" }}</b>.
                </li>
              {% endfor %}
            {% else %}
              <li class="full">
                {% trans 'The field' %} <a href="http://{{ site.domain }}/home/{{ owner }}/"> {{ f.name }}</a> {% trans "does not need to be irrigated" %}
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    {% endfor %}
  </section>

  <footer class="grid-100">
    {{ footer|safe }}
  </footer>
</body>
</html>
