<div class="row">
    <div class="col-xs-12">
      <div id="wms_map" class="map"></div>
      <p id="mapLegend" class="text-center">  <p>
    </div>
</div>
<div class="row">
  <div class="col-xs-4 text-left">
    <button id="previous" type="button" class="btn btn-xs btn-default" onclick="aira.mapModule.createPreviousRasterMap()">
    </button>
  </div>
  <div class="col-xs-4 text-center">
    <button id="current" class="btn btn-xs btn-default"></button>
  </div>
  <div class="col-xs-4 text-right">
    <button id="next" type="button" class="btn btn-xs btn-default" onclick="aira.mapModule.createNextRasterMap()">
    </button>
  </div>
</div>
